<!DOCTYPE html>
<html>
    <head>
        <title>PREM</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./reg.css">   
    </head>
    <body>  
        <nav class="navbar navbar-light bg-light">
            </div>
          </nav>

            <h2 style="text-align: center;color:seagreen">Patient Experience Tracker</h2>
            <hr>
            <p class="text-center h5">Patient Reported Experience Measure</p>
            <p style = "text-align:center; color:red">Please answer all the question correctly and press submit</p> 
        
        <div class="msb" id="msb">
            <p class="text-center fs-2">PET</p>
            
            <nav class="navbar navbar-default" role="navigation">
                <div class="btn-group-vertical" style=" margin-top:0%; width:0%">
                    <ul class="nav flex-column" style="width:10%">
                        <li class="nav-item">
                            <p class="text-center"><a class="text-dark nav-link active" aria-current="page" href="https://www.google.ca/?gws_rd=ssl">Dashborad
                                <img src = "Home.png" width="25" height="25" class="d-inline-block align-right">
                            </a></p>
                        </li>
                         <li class="nav-item">
                            <p class="text-center"><a class="text-dark nav-link active" aria-current="page" href="https://www.google.ca/?gws_rd=ssl">Complete Survey
                                <img src = "survey.png" width="25" height="25" class="d-inline-block align-right">
                            </a></p>
                        </li>
                        <li class="nav-item">
                            <p class="text-center"><a class="text-dark nav-link active" aria-current="page" href="#">Change Password
                                    <img src = "key.png" width="25" height="25" class="d-inline-block align-right">     
                            </a></p>
                        </li>
                      </ul>
                    </div>
                </nav>
            </div>
            </body>
            </html>